.tasks-list {
  list-style: none;
  padding: 0;

  .task {
    min-height: 112px;
    background-color: #fff;
    width: 80%;
    margin: 6px auto;
    border-radius: 8px;
    position: relative;

    .delete-button {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .state-select {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    bottom: 10%;
    transform: translateX(-50%);
    border: none;
    border-bottom: 2px solid rgb(254, 115, 115);
  }
}